.one{
	display:flex;
	margin-top: 60px;
	flex-direction: row;
}
.new1{
justify-content: start;
margin-left: 200px;
text-align: center;
}
.new2{
justify-content:center;
font-family: 'Lighthaus';
font-size: 50px;
text-align: center;
color: #031412;
margin-left:200px;
}

.two_stolbs{
display:flex;
flex-direction: row;
}

.line1{
	margin-top:30px;
	margin-bottom: 20px;
}
.line2{
	margin-top:0px;
	margin-bottom: 20px;
}

input{
	padding: 10px;
	padding-right:150px;
}

.stolb_1{
display:flex;
flex-direction: column;
margin-left:200px;
margin-top:40px;
}

.st_1_row_1{
	display:flex;
	flex-direction: row; 
	background-color: #E6E8E7;
	padding:30px;
	width: 922px;
	height: 123px;
}
.cont1{
	flex-direction: row;
	margin-right: 30px;
}
.dwdwdwd{
	flex-direction: column;
	margin-right: 60px;
}


.stolb_2{
display:flex;
flex-direction: column; 
margin-right:200px;
margin-left: 20px;
margin-top: 40px;
margin-bottom: 600px;
background-color: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
}

.stolb_2 input{
padding: 15;
margin-left: 20px;
margin-top: 20px;
}

.st_2_row_1{
	display:flex;
	flex-direction: row; 
}

.st_2_row_2{
	margin-left: 20px;
	margin-top: 20px;
	font-family: 'Mont';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 96.4%;
	color: #031412
}

.st_2_row_3{
	margin-left: 20px;
	margin-top: 20px;
	font-family: 'Mont';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 96.4%;
	color: #031412;
}

.st_2_row_3{
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.st_2_row_5{
	display:flex;
	flex-direction: row; 
	margin-left: 20px;
	margin-top: 20px;
	font-family: 'Mont';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 96.4%;
	color: #031412;
}
.st_2_row_6{
	font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 96.4%;
/* or 17px */

text-align: center;

color: #FFFFFF;
	background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
	margin:20px;
	padding:20px;

}

.img111{
	margin:20px;
}
.img112{
	margin:20px;
	margin-left:0px;
}

.primen{
	padding: 15px;
	margin-top: 20px;
	background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
	font-family: 'Mont';
	font-style: normal;
	font-weight: 800;
	font-size: 14px;
	line-height: 96.4%;
	text-align: center;
	color: #FFFFFF;
	padding-right:20px;
}

.input{
border: 1px solid #A1A1A1;
box-sizing: border-box;
padding: 20px;
border-radius: 3px;
width: 327px;
height: 50px;
}
.row1{
	display:flex;
	flex-direction: row;
	margin-top: 20px;
}
.mail1{
	margin-right: 40px;
}

.row2{
	display:flex;
	flex-direction: row;
	margin-top: 20px;
}
.mail3{
	margin-right: 40px;
}

.row3{
	display:flex;
	flex-direction: row;
	margin-top: 20px;
}
.mail5{
	margin-right: 40px;
}

.dostavka{
	display:flex;
	flex-direction: column;
}

.pay{
	display:flex;
	flex-direction: column;
}

.h2_1{
font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 96.4%;
color: #031412;
margin-left: 20px;
margin-top: 5px;
}

.h2_2{
font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 96.4%;
color: #031412;
margin-left: 20px;
margin-top: 5px;
}

.h2_3{
font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 96.4%;
color: #031412;
margin-left: 20px;
margin-top: 5px;
}

.one-two-three{
	background: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%); 
	color: #FFFFFF;
	width: 36px;
	height: 36px;
}


.number{
	position: absolute;
width: 17px;
height: 29px;
font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 96.4%;
color: #FFFFFF;
padding-left:9px;
padding-bottom:3px;
padding-right:5px;
padding-top:3px;
}


.lichnie-dan_1{
	display:flex;
	flex-direction: row;
	margin-right: 20px;
	margin-top: 30px;
}
.dostavka_1{
	display:flex;
	flex-direction: row;
	margin-right: 20px;
}
.pay_1{
	display:flex;
	flex-direction: row;
	margin-right: 20px;
}


.form_radio{
font-family: 'Mont';
font-size: 20px;
background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.knopka1{
margin-top: 	0px;
margin-bottom: 	20px;
}
.knopka2{
margin-bottom: 10px;
}

.rad{
font-family: 'Mont';
font-size: 20px;
background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

#q{
transform:scale(1.3);
  opacity:0.9;
  cursor:pointer;
  }
 #qq{
transform:scale(1.3);
  opacity:0.9;
  cursor:pointer;
  }
 #qqq{
transform:scale(1.3);
  opacity:0.9;
  cursor:pointer;
  }
 #q2{
transform:scale(1.3);
  opacity:0.9;
  cursor:pointer;
  }
 #qq2{
transform:scale(1.3);
  opacity:0.9;
  cursor:pointer;
  }
  
.knopka_txt{
	margin-left:10px;
}