.glavn{
text-align: left; 
margin-left: 200px;
}

.FORM{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top: 60px;
	flex-direction: column;
}

.form{
display: flex;
justify-content: center;
align-items:center;
flex-direction: column;
background-color: #FFFFFF;
box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.05);
}

.auth{
font-family: 'Lighthaus';
font-size: 35px;
padding: 0 20px;
}

.form input{
padding: 5px;
margin: 10px;
}

.vxod{
font-family: 'Mont';
font-style: normal;
font-size: 18px;
color: #FFFFFF;
background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
margin: 15px;
padding: 5px 100px;
border:none;
ouyline:none;
}

.later{
display: flex;
justify-content: center;
align-items:center;
background: linear-gradient(285.45deg, #0B3F37 38.27%, #CB8D62 141.81%);
}

.noACC{
display: flex;
font-family: 'Mont';
font-size: 18px;
color: #FFFFFF;
margin:15px;
margin-right:120px;
}

.Registr{
display: flex;
font-family: 'Mont';
font-size: 18px;
color: #FFFFFF;
margin:15px;
}