header{
	background: url("img/Header.png");
	background-repeat: no-repeat;
	color: white;
	width: 100%;
	height: 140px;
	
}
.header-div{
 	display: flex;
 	justify-content: space-between;
 	margin-left: 5%;
 	margin-right: 5%;
 	align-items: flex-end;
 }
 
 
 
 
 
.str1{
display:flex;
	margin-left:200px;
	margin-top:30px;
	margin-bottom:30px;
width: 174px;
height: 17px;
font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 96.4%;
color: #031412;
}
 
 .str2{
display:flex;
	margin-left:200px;
	margin-top:30px;
	margin-bottom:10px;
	margin-bottom:30px;
}
 
.two_stolb{
	display:flex;
	flex-direction: row;
	justify-content:left;
	margin-left:200px;
}
 
.stolb_1{
	display:flex;
	flex-direction: column;
}
.stolb1_str1{
	display:flex;
	flex-direction: row;
	margin-bottom:10px;
	
}
.img1{
	margin-left:0px;
}
.img2{
	margin-left:480px;
}
.img3{
	margin-left:90px;
}
 
 .stolb1_str2{
	display:flex;
	flex-direction: row;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:0px;
}
.img5{
	margin-left:40px;
	padding:40px;
	padding-bottom:70px;
	padding-left:60px;
}

.stolb1_str3{
	display:flex;
	flex-direction: row;
	margin-top:25px;
}
.img6{
	margin-left:0px;
}
.img7{
	margin-left:40px;
	padding-left:60px;
	padding-bottom:70px;
	padding-top:10px;
}
 
.stolb1_str4{
	 margin-top:30px;
}
 
 
 
 
 .stolb_2{
display:flex;
flex-direction: column; 
margin-right:200px;
margin-left: 40px;
margin-bottom: 150px;
background-color: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
}
 .stolb_2 input{
padding: 15;
margin-left: 20px;
margin-top: 20px;
}

.st_2_row_1{
	display:flex;
	flex-direction: row; 
}

.st_2_row_2{
	margin-left: 20px;
	margin-top: 20px;
	font-family: 'Mont';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 96.4%;
	color: #031412
}

.st_2_row_3{
	margin-left: 20px;
	margin-top: 20px;
	font-family: 'Mont';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 96.4%;
	color: #031412;
}

.st_2_row_3{
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.st_2_row_5{
	display:flex;
	flex-direction: row; 
	margin-left: 20px;
	margin-top: 20px;
	font-family: 'Mont';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 96.4%;
	color: #031412;
}
.st_2_row_6{
	font-family: 'Mont';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 96.4%;
/* or 17px */

text-align: center;

color: #FFFFFF;
	background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
	margin:20px;
	padding:20px;

}


.img111{
	margin:20px;
}
.img112{
	margin:20px;
	margin-left:0px;
}

 
 
 
 
 
 
 footer{
	background: url("img/footer.png");
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #adadad;
	padding-top: 65px;
	padding-left: 5%;
	padding-right: 5%;
}

.footer-div{
	line-height: 80%;
	display: flex;
	flex-basis: 50%;
	justify-content: space-between;
}

.aside-logo{
	padding-left: 10%;
	padding-top: 65px;
	color: rgba(174, 174, 174, 0.7);
}

.button-rol{
	margin-top: 100px;
	padding-right: 11px;
	align-items: flex-end;
	height: 102px;
	width: 40px;
	background: linear-gradient(180deg, #5E3928 20.13%, #E4A16F 92.93%);
	writing-mode: vertical-rl;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	font-weight: 800;
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}