header{
	background: url("img/Header.png");
	background-repeat: no-repeat;
	color: white;
	width: 100%;
	height: 140px;
	
}
.header-div{
display: flex;
justify-content: space-between;
margin-left: 5%;
margin-right: 5%;
align-items: flex-end;
}
 
 
 
 
.str0{
display:flex;
margin-left:200px;
margin-top:50px;
margin-bottom:50px;
width: 516px;
height: 53px;
font-family: 'Lighthaus';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 105.9%;
color: #031412;
 }
 
.two_stolbs{
	display:flex;
	flex-direction:row;
	margin-left:200px;
	margin-right:200px;
	margin-bottom:100px;
	justify-content:left;
}
 
.stolb1{
	display:flex;
	flex-direction:column;
}
.stolb2{
	display:flex;
	flex-direction:column;
	margin-left:30px;
}

.img1{
	margin-bottom:30px;
}
.img2{
	margin-bottom:30px;
}
.img3{
	margin-bottom:30px;
}
.img4{
	margin-bottom:30px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:250px;
	
}

.stolb2_str1{
	display:flex;
	flex-direction: row;
}
.n_img{
	margin-right:130px;
}
.n1_img{
	margin-right:395px;
}
.n2_img{
	margin-right:60px;
}
.n3_img{
	margin-right:100px;
}
.n4_img{
	margin-right:80px;
}

.line{
	margin-top:10px;
	margin-bottom:10px;
}

.str{
	display:flex;
	flex-direction: row;
}
 
 
 
 
 
 
 
 
 
 
 footer{
	background: url("img/footer.png");
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #adadad;
	padding-top: 65px;
	padding-left: 5%;
	padding-right: 5%;
}

.footer-div{
	line-height: 80%;
	display: flex;
	flex-basis: 50%;
	justify-content: space-between;
}

.aside-logo{
	padding-left: 10%;
	padding-top: 65px;
	color: rgba(174, 174, 174, 0.7);
}

.button-rol{
	margin-top: 100px;
	padding-right: 11px;
	align-items: flex-end;
	height: 102px;
	width: 40px;
	background: linear-gradient(180deg, #5E3928 20.13%, #E4A16F 92.93%);
	writing-mode: vertical-rl;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	font-weight: 800;
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}