header{
	background: url("img/Header.png");
	background-repeat: no-repeat;
	color: white;
	width: 100%;
	height: 140px;
	
}
.header-div{
 	display: flex;
 	justify-content: space-between;
 	margin-left: 5%;
 	margin-right: 5%;
 	align-items: flex-end;
 }
 
 
 
 
 
 
 
 
 .str0{
display:flex;
margin-left:200px;
margin-top:50px;
margin-bottom:50px;
width: 516px;
height: 53px;
font-family: 'Lighthaus';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 105.9%;
color: #031412;
 }
 
.three_stolbs{
	display:flex;
	flex-direction:row;
	margin-left:200px;
	margin-bottom:100px;
}
 
.stolb1{
	display:flex;
	flex-direction:column;
}
.stolb2{
	display:flex;
	flex-direction:column;
	margin-left:140px;
}
.stolb3{
	display:flex;
	flex-direction:column;
	justify-content:left;
	margin-left:215px;
}
.line{
	margin-top:10px;
	margin-bottom:10px;
}

.img1{
	margin-bottom:30px;
}
.img2{
	margin-bottom:30px;
}
.img3{
	margin-bottom:30px;
}
.img4{
	margin-bottom:30px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:250px;
	
}

.3_img1{
margin-right:0px;	
}
.3_img2{
	margin-top:100px;
margin-right:0px;	
}

.stolb2_str1{
	display:flex;
	flex-direction:row;
}
 
 .stolb2_str1_st2{
	display:flex;
	flex-direction:column;
	margin-left:40px;
 }
 .stolb2_img3{
	 margin-top:40px;
 }
 .stolb2_img4{
	 margin-top:40px;
 }
 
 
 
.input_three_row{
	display:flex;
	flex-direction:column;
	margin-top:40px;
}
 
.input_row{
	display:flex;
	flex-direction:row;
}

.input{
border: 1px solid #A1A1A1;
box-sizing: border-box;
border-radius: 3px;
width: 327px;
height: 50px;
margin-right:20px;
}
.mail1{
	padding: 10px;
	padding-right: 150px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.mail2{
	padding: 10px;
	padding-right: 150px;
	margin-bottom: 30px;
}



.str3_column2{
	display:flex;
	flex-direction:column;
}
.str3_column2_row2{
	display:flex;
	flex-direction:row;
}

.parol{
	width: 106px;
height: 26px;
margin-top:20px;
margin-bottom:20px;
}

.sm_parol{
	width: 350px;
height: 50px;
}



.plata{
width: 291px;
height: 26px;
margin-top:20px;
margin-bottom:20px;
}

.mail1new{
	padding: 10px;
	padding-right: 40px;
	margin-right: 30px;
width: 350px;
height: 50px;
}
.mail2new{
	padding: 10px;
	margin-right: 30px;
	width: 148px;
height: 50px;
}
.mail3new{
	padding: 10px;
	width: 148px;
height: 50px;
}

.save{
	margin-top:30px;
	margin-bottom:30px;
	width: 327px;
height: 50px;
}
 
 
 
 
 footer{
	background: url("img/footer.png");
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #adadad;
	padding-top: 65px;
	padding-left: 5%;
	padding-right: 5%;
}

.footer-div{
	line-height: 80%;
	display: flex;
	flex-basis: 50%;
	justify-content: space-between;
}

.aside-logo{
	padding-left: 10%;
	padding-top: 65px;
	color: rgba(174, 174, 174, 0.7);
}

.button-rol{
	margin-top: 100px;
	padding-right: 11px;
	align-items: flex-end;
	height: 102px;
	width: 40px;
	background: linear-gradient(180deg, #5E3928 20.13%, #E4A16F 92.93%);
	writing-mode: vertical-rl;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	font-weight: 800;
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}