body{

margin: 0;
width: 100%;

background-color: #fff;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

.container{
	width: 100%;
	max-width: 1397px;/*1397*/
	margin: 0 100px;
}

.header{
	height: 130px;
	width: 100%;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 1000;

}

.header_inner{
	padding: 44px;
	display: flex;
	align-items: center;	
}




.nav{
	display: flex;
	padding-top: 15px;
	font-size: 16px;

}
.nav_link{
	margin-left: 50px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;


}
.nav_link:first-child{
	margin-left: 77px;
}

.nav_link:hover{
	text-decoration: underline;


}


.intro{
	display:flex;
	max-width: 100%;
	flex-display:column;
	padding-top: 130px;
	height:896px ;
	background: url(img/BG.png) no-repeat center / cover;
}

.intro_title{
	margin: 0;
	margin-top: 30px;
	width: 700px;
	text-transform: uppercase;
	color: #fff;
	font-size: 100px;
	padding: 50px 0;


	border-bottom: 3px solid #fff;
	border-image: linear-gradient(to right,#FFFFFF,rgba(255,255,255,0));
	border-image-slice: 1;
}

.intro_subtitle{
	margin-top: 50px;
	font-size: 50px;
	color: #fff;
	width: 533px;
	line-height: 48px;
}

.priceblock_title{
	padding: 0;
	display: flex;
	flex-direction: column;
	
	max-width: 327px;
}

.pricendigits_title{
	margin-bottom: 41px;
	display:flex;
	justify-content: space-between;
	
}

.word_cena_title{
	margin: 0;
	font-size: 30px;
	color: #fff;
}

.digits_title{
	margin: 0;
	font-size: 30px;
	color: #fff;
}


.btn{
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	padding: 16px 132px;
}

.btn--grad{
	background: linear-gradient(to right,rgba(94, 57, 40, 1),rgba(228, 161, 111, 1));
}

.group2_title{
	margin-top: 80px;
	font-size: 50px;
	color: rgba(3, 20, 18, 1);
	text-align: center;
	text-transform: uppercase;
}

.group2{
	display: flex;	
	flex-wrap: wrap;
}

.group2_item{
	cursor: pointer;
	width: 33.33333%;

}

.group2_img{
	max-width: 100%;
}


.group2_item:last-child{
	padding: 30px;
}

.group3{
	margin-top: 20px;
	background: url(img/BG-3.png);
	text-align:center;
	padding-bottom: 80px;

}

.group3_title{
	font-size: 50px;
	padding-top:40px  ;
	color: rgba(3, 20, 18, 1);
	text-transform: uppercase;
}
.group3_inner{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;
}
.group3_item{
	position: relative;
	width: 33.333%;
	margin-bottom: 50px;
	padding: 0 20px;
  
}

.group3_image{

	max-width: 100%;
}
.group3_image_like{
	position:absolute;
	top: 0;
	right: 20px;
}

.group3_image_sale{
	position: absolute;
	top: 27px;
	left: 20px;
}

.pricendigits{
	margin-top: 20px;
	display:flex;
	justify-content: space-between;
	
}

.name_product{
	margin: 0;
	display: flex;
    align-items: flex-end;
	font-size: 20px;
	color: #031412;
	text-align: left;


}

.digits{
	margin: 0;
	font-size: 30px;
	color: #031412;
	display: flex;
    align-items: flex-end;
}
.group4{
	margin-top: 20px;
	text-align:center;
	padding-bottom: 20px;

}

.pricendigits_sale{
	margin-top: 10px;
	display:flex;
	justify-content: space-between;

}

.oldnnew{
	display: flex;
	flex-direction: column;
    align-items: flex-end;
}
.saledigits{
	margin: 0;
	font-size: 30px;
	color:rgba(155, 0, 0, 1);
}

.saledigits_cross{
	margin: 0;
	max-width: 85px;
	text-align: right;
	position: relative;
	font-size: 20px;
	opacity: 0.3;
	color:rgba(155, 0, 0, 1);
}

.saledigits_cross::after{
	content:"";
	position:absolute;
	left:0;top:50%;
	color:red;
	width:100%;
	border-bottom:2px solid red;
	transform:rotate(13.8deg);
}

.comments_title{
margin-top: 80px;
	font-size: 50px;
	color: rgba(3, 20, 18, 1);
	text-align: center;
	text-transform: uppercase;
}

.comments{
	display: flex;
	
}
.comments_item{
	position: relative;
	width: 33.33333%;
	text-align: left;
	padding:20px 35px;
	margin-right: 31px;
	margin-bottom: 30px;


    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Параметры тени */
    
}

.comments_sign{
	position: absolute;
	top: 0;
	right: 0;
}

.comments_name{
	font-size: 25px;
	color:#031412;
}



.comments_txt{
	margin: 20px 0;
	font-style: italic;
	font-size: 14px;
	line-height: 19px;
}

.comments_data{
	margin: 0;
	font-size: 14px;
}



.icons8{
	margin-top: 50px;
	padding-top: 80px;
	background: url(img/8icons_bg.png);
	text-align: center;
}

.icons8_title{
	font-size: 50px;
	color: #031412;


	
	text-transform: uppercase;	
}

.icons8_inner{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;

}


.icons8_item{

	text-align: left;
	max-width: 25%;
	padding-right: 50px;
	margin-bottom: 35px;
}

.icons_name{
	color:#031412;
	font-size: 20px;
	font-weight: 800;
}

.icons_text{
color: #031412;
line-height: 19px;

}

.icons_read_more{
	cursor: pointer;
}