.address{
	display: flex;
	flex-direction:column;
	margin-left: 5%;
}

.news-text{
	background: linear-gradient(65.81deg, #5E3928 -24.09%, #E4A16F 104.02%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	font-size: 14px;
	font-weight: 800;
}

.news-div{
	justify-content: space-evenly;
	margin-left: 5%;
	font-size: 14px;
}

.td-sq{
	height: 48px;
	width: 38px;
	border-width: 1px;
	border-color: #B3B9B8;
	border-style: solid;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	color: #B3B9B8;
	margin: 5px;
}
.td-sq2{
	height: 50px;
	width: 51px;
	border-width: 1px;
	border-color: #B3B9B8;
	border-style: solid;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	padding: 5px;
}

.txt-grad{
	background: linear-gradient(92.18deg, #5E3928 -24.09%, #E4A16F 104.02%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.background-one{
	background: url("img/фон1.png");
	background-repeat: no-repeat;
	height: 761px;

}
.background-two{
	background: url("img/фон2.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 626px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: white;

}
/*-----------------------------------------------------------------------------*/
.icons8{
	margin-top: 50px;
	padding-top: 80px;
	background: url(img/8icons_bg.png);
	text-align: center;
}

.icons8_title{
	font-size: 50px;
	color: #031412;


	
	text-transform: uppercase;	
}

.icons8_inner{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;

}


.icons8_item{

	text-align: left;
	max-width: 25%;
	padding-right: 50px;
	margin-bottom: 35px;
}

.icons_name{
	color:#031412;
	font-size: 20px;
	font-weight: 800;
}

.icons_text{
color: #031412;
line-height: 19px;

}

.icons_read_more{
	cursor: pointer;
}

.container{
	width: 100%;
}
.group3_inner{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}
.group3_item{
	position: relative;
	width: 33.333%;
	margin-bottom: 50px;
	padding: 0 20px;
}

.group3_image{

	max-width: 100%;
}
.group3_image_like{
	position:absolute;
	top: 0;
	right: 20px;
}

.group3_image_sale{
	position: absolute;
	top: 27px;
	left: 20px;
}

.pricendigits{
	margin-top: 20px;
	display:flex;
	justify-content: space-between;
	
}
.oldnnew{
	display: flex;
	flex-direction: column;
    align-items: flex-end;
}
.saledigits{
	margin: 0;
	font-size: 30px;
	color:rgba(155, 0, 0, 1);
}

.saledigits_cross{
	margin: 0;
	text-decoration: line-through;
	max-width: 85px;
	text-align: right;
	font-size: 20px;
	opacity: 0.3;
	color:rgba(155, 0, 0, 1);
}
.name_product{
	margin: 0;
	display: flex;
    align-items: flex-end;
	font-size: 20px;
	color: #031412;
	text-align: left;
}
.digits{
	margin: 0;
	font-size: 30px;
	color: #031412;
	display: flex;
    align-items: flex-end;
}
.pricendigits_sale{
	margin-top: 10px;
	display:flex;
	justify-content: space-between;

}